<div class="banner">
    <h1><%= @task.title %></h1>
</div>

<div class="container">
    <p><%= @task.details %></p>
    <p id="task-status" class="<%= @task.completed ? 'color-completed' : 'color-pending' %>"><%= @task.completed ? 'completed' : 'pending' %></p>
    <%= link_to 'edit', edit_task_path, class: 'btn btn-blue' %>
    <%= link_to 'delete', remove_task_path, class: 'btn btn-red' %>
    <%= link_to 'back', tasks_path, class: 'btn btn-grey' %>
</div>